@model IEnumerable<SocialApp.Models.Message>

@{
    ViewBag.Title = "Index";
}
<br />

<div class="messages">
    @foreach (var item in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@Html.DisplayFor(modelItem => item.Title)</h3>
            </div>
            <div class="panel-body">
                <p>
                    @Html.DisplayFor(modelItem => item.Content)
                </p>
                <p>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </p>
            </div>
        </div>
    }
</div>

<div class="panel panel-default panel-create">
    <div class="panel-body">
        @Html.Partial("_CreateMessage", new SocialApp.Models.Message())
    </div>
</div>

