@{
    ViewBag.Title = "StartPage";
}
<br />
<br />
<br />
<br />
<br />
<br />
<center> <h7> <font size="30">connectedToYou</font></h7></center>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<head>
</head>
<body>
    <center>
        <p class="a"><font size="14"> The whole world will be <i>'connectedToYou'</i></font></p>
    </center>
</body>
